<?xml version="1.0"?>
<config>    
    <modules>
        <Magentotutorial_Helloworld>
            <version>0.1.0</version>
        </Magentotutorial_Helloworld>
    </modules>
	<frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Magentotutorial_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>

		
		<layout>
            <updates>
                <helloworld>
                    <file>local.xml</file>
                </helloworld>
            </updates>
        </layout>		
    </frontend>
	 <global>
       <blocks>
			<helloworld>
				<class>Magentotutorial_Helloworld_Block</class>
			</helloworld>
			</blocks>
    </global>
	
	
</config>